In [18]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro,bartlett
from statsmodels.stats.power import ttest_power
from scipy.stats import norm

In [2]:
# pre and post-surgery energy intake
intake = np.array([
[5260, 3910],
[5470, 4220],
[5640, 3885],
[6180, 5160],
[6390, 5645],
[6515, 4680],
[6805, 5265],
[7515, 5975],
[7515, 6790],
[8230, 6900],
[8770, 7335],
])

In [3]:
pre = intake[:,0]
post = intake[:,1]

In [4]:
pre

array([5260, 5470, 5640, 6180, 6390, 6515, 6805, 7515, 7515, 8230, 8770])

In [5]:
post

array([3910, 4220, 3885, 5160, 5645, 4680, 5265, 5975, 6790, 6900, 7335])

In [6]:
shapiro(pre)

(0.952366054058075, 0.674299418926239)

In [7]:
shapiro(post)

(0.9363633990287781, 0.47873449325561523)

In [10]:
# both groups are normally distributed.

In [11]:
levene(pre,post)

LeveneResult(statistic=0.07826946818973061, pvalue=0.7825293782115069)

In [12]:
t_stats,p_value = ttest_1samp(pre-post,0)

In [13]:
print(t_stats)

11.941392877647603

In [14]:
print(p_value)

3.059020942934875e-07

In [ ]:
## *******************

In [25]:
A = pd.read_table("HR.txt",index_col=0)

##  here we are checking whether proportion of mal employee leaving the job = poportion of female employee leaving the 
##  job.
##  H0 : proportion(male) = proportion(female) ie;   p1 = p2
##  Ha : proportion(male) != proportion(female) ie;  p1 != p2

In [26]:
CT = pd.crosstab(A['Attrition'],A['Gender'])
CT

Gender       1    2
Attrition
No         732  501
Yes        150   87

In [27]:
150/882 # proportion of male employee leaving the job.

0.17006802721088435

In [28]:
87/588 # proportion of female employee leaving the job.

0.14795918367346939

In [36]:
n1 = CT.iloc[:,0].sum() # total males
n2 = CT.iloc[:,1].sum() # total females 
x1 = CT.iloc[1,0] # to select specific value, no of males left the job.
x2 = CT.iloc[1,1] # , no of Females left the job

In [38]:
x1,x2

(150, 87)

In [40]:
pp = (x1+x2)/(n1+n2)
pp

0.16122448979591836

In [41]:
p1 = x1/n1
p2 = x2/n2

In [42]:
p1,p2

(0.17006802721088435, 0.14795918367346939)

In [44]:
Z_data = (p1-p2)/np.sqrt((pp*(1-pp))*((1/n1)+(1/n2)))

In [1]:
Z_data # this z value comes in b/w 1 sigma and 2 sigma. this is for the positive side of the bell shaped curve.

NameError: name 'Z_data' is not defined

In [46]:
p_value = 2*(1-norm.cdf(abs(Z_data)))
## we are multiplying the p value with 2 because the p value will come for just the positive side of the z data value.
## after mltiplu=ying we will get it for both the sides.

In [47]:
p_value

0.2587903704911598

In [48]:
# p value  > 0.05 so we fail to reject the null hypothesis.

In [54]:
## The above work can be done by a single function.

def two_samp_test(x1,x2,n1,n2):
    p1 = x1/n1
    p2 = x2/n2
    pp = (x1+x2)/(n1+n2)
    Z_data = (p1-p2)/np.sqrt((pp*(1-pp))*((1/n1)+(1/n2)))
    p_value = 2*(1-norm.cdf(abs(Z_data)))
    return Z_data,p_value

# just calculate x1,x2 and n1,n2 and substitute them in the function.

In [55]:
two_samp_test(5,10,23,32) ## example.

(-0.7812047088321021, 0.4346821046638809)